*{padding: 0;margin: 0;border: 0;}
:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

body{
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Stack Sans Text", sans-serif;
}

.window-weather {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
    background: linear-gradient(136deg,rgb(245, 247, 157) 10%, rgb(6, 76, 122) 100%);
    border-radius: 15px;
}

.input {
    margin-top: 30px;
    font-size: 18px;
    padding-left: 16px;
    border: 0px;
    border-radius: 20px;
    height: 40px;
    width: 240px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.weather-img {
    margin-top: 30px;
    height: 128px;
    width: 128px;
}

.info {
    margin-top: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-weight: 600;
    font-size: 42px;
    color: white;
}

.city {
    font-weight: 600;
    font-size: 42px;
    color: white;
}

.info2 {
    margin-top: 36px;
    display: flex;
    gap: 15px;
}

.wind {
    gap: 6px;
    display: flex;
}

.wind-img {
    height: 40px;
    width: 40px;
}

.text-weather {
    margin-top: 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.speed-wind {
}

.humidity {
    gap: 6px;
    display: flex;
}

.humidity-img {
    height: 40px;
    width: 40px;
}

.humidity-percent {
}

.wind-info {
}