* {
    padding: 0;
    margin: 0;
    border: 0;
}
:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");

body {
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Stack Sans Text", sans-serif;
}

.window-weather {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 500px;
    background: linear-gradient(136deg, rgb(245, 247, 157) 10%, rgb(6, 76, 122) 100%);
    border-radius: 15px;
    max-width: 500px;
    max-height: 600px;
}

.input {
    width: 300px;
    font-size: 22px;
    border: 0px;
    max-width: 700px;
    border-radius: 20px;
    padding: 10px 0px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.find {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.find-img {
    height: 24px;
    width: 25px;
    /* display: none; */
}

.find-sity {
    /* padding: 0px 12px; */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
}

.weather-img {
    margin-top: 26px;
    height: 200px;
    width: 200px;
}

.info {
    margin-top: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-weight: 600;
    font-size: 56px;
    color: white;
}

.city {
    font-weight: 600;
    font-size: 52px;
    color: white;
    text-align: center;
}

.info2 {
    margin-top: 50px;
    display: flex;
    gap: 25px;
}

.wind {
    gap: 6px;
    display: flex;
}

.wind-img {
    height: 60px;
    width: 60px;
}

.text-weather {
    margin-top: 5px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.speed-wind {
}

.humidity {
    gap: 6px;
    display: flex;
}

.humidity-img {
    height: 60px;
    width: 60px;
}

.humidity-percent {
}

.wind-info {
}

.loader {
    margin: auto;
    width: 24px;
    height: 24px;
    border: 6px solid rgba(13, 71, 161, 0.6);
    border-radius: 50%;
    border-left-color: #0d47a1;
    animation: loader 1.3s linear infinite;
    display: none;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.hide {
    opacity: 0;
}